/* src/index.css */
:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box; /* Esto evita que los rellenos agranden los elementos */
  -webkit-tap-highlight-color: transparent; /* Quita el brillo azul al tocar botones en Android */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f8f9fa;
}

/* Hacemos que los inputs sean más amigables al tacto */
input, select, button, textarea {
  font-size: 16px; /* Evita que el iPhone haga zoom al escribir */
}

/* Barra de desplazamiento más bonita y delgada */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}